* {
    text-decoration-line: none;
}

.section1{
    width: 100%;
}

.section2{
    width: 100%;
}

.section3{
    width: 100%;
}

.section1 .logo {
    /* 로고 */
    position: absolute;
    width: 120px;
    height: 42px;
    left: 50px;
    top: 19px;

    font-family: 'KoreanTIMSR';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: black;
}

.section1 .sign-in{
    /* 로그인 */
    position: absolute;
    width: 75px;
    height: 25px;
    left: 1217px;
    top: 27px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

.section1 .green-box{
    /* 회원가입 박스 */
    position: absolute;
    width: 110px;
    height: 34px;
    left: 1303px;
    top: 23px;

    background: #8ADEB6;
    border-radius: 16px;
}

.green-box .sign-up{
    /* 회원가입 */
    position: relative;
    left: 17px;
    top: 3px;
    width: 67px;
    height: 25px;
    /* left: 1313px; */
    /* top: 28px; */
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: white;
}

.green-box .mypage{
    /* 회원가입 */
    position: relative;
    left: 10px;
    top: 3px;
    width: 100px;
    height: 25px;
    /* left: 1313px; */
    /* top: 28px; */
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: white;
}

.section2 .line1{
    /* 와르르와 함께 */

position: absolute;
width: 350px;
height: 65px;
left: 101px;
top: 201px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 65px;

color: #000000;

}

.section2 .line2{
    /* 쓰레기 없는 삶을 경험하세요 */


position: absolute;
width: 700px;
height: 65px;
left: 101px;
top: 266px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 65px;

color: #000000;
}

.section2 .line3{
    /* 맞춤형 쓰레기 수거 서비스 */

    position: absolute;
width: 1050px;
height: 87px;
left: 101px;
top: 331px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 87px;

color: #000000;
}

.section2 .line4{
    /* 와르르 */

    position: absolute;
width: 1050px;
height: 87px;
left: 830px;
top: 331px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 87px;

color: #8ADEB6;
}

.section2 .white-box{
    /* 수거하기 박스 */
    position: absolute;
width: 170px;
height: 60px;
left: 101px;
top: 500px;

background: #FFFFFF;
box-shadow: 0px 0px 29px -7px rgba(0, 0, 0, 0.27);
border-radius: 34px;
}

.section2 .pick-up{
    /* 수거하기 */
position: relative;
width: 128px;
height: 30px;
left: 15px;
top: 15px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 30px;

color: #000000;
}

.section3 .trash{
    position: absolute;
width: 1229px;
height: 824px;
left: 200px;
top: 300px;
}