* {
    text-decoration-line: none;
}

.section1{
    width: 100%;
}

.section2{

    width: 100%;
}

.section3{
  position:absolute;
  left: 60px;
  top:-1px;
    width: 100%;
}
.section4{
  position: absolute;
    width: 100%;
    left: 300px;
    top: 450px;
}

.section1 .logo {
    /* 로고 */
    position: absolute;
    width: 120px;
    height: 42px;
    left: 50px;
    top: 19px;

    font-family: 'KoreanTIMSR';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: black;
}
.section2 .green_box{
  position: absolute;
  width: 100%;;
  height: 403px;
  left: 0px;
  top: 80px;
  background: #8ADEB6;
}

.section2 .print{
    /* 9/25 (일) 13:00 수거 예정 */

    position: absolute;
    /* //width: 706px; */
    height: 87px;
    left: 400px;
    top: 213px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;

    color: #FFFFFF;
}

.section2 .line2{
    /* 고객님의 수거 신청이 완료되었습니다. */


    position: absolute;
    /* //width: 420px;
    //height: 33px; */
    left: 590px;
    top: 318px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


    color: #FFFFFF;

}
.section3 .circleon{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 344px;
  top: 464px;

  border-radius: 50%;
  background: #8ADEB6;
  box-shadow: 0px -3px 12px rgba(105, 105, 105, 0.25);
}
.section3 .circleoff{

box-sizing: border-box;

position: absolute;
width: 40px;
height: 40px;
/* //left: 582px; */
top: 464px;

border-radius: 50%;
background: #F5F5F5;
border: 3px solid #8ADEB6;
box-shadow: 0px -3px 4px rgba(105, 105, 105, 0.25);
}
.section3 .statuson{
  position: absolute;
/* //width: 96px; */
height: 35px;
/* //left: 316px; */
top: 528px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 35px;

color: #65C095;
}
.section3 .statusoff{
  position: absolute;
/* //width: 96px; */
height: 35px;
/* //left: 554px; */
top: 528px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 35px;

color: #494949;

}
.section3 .lineon{
  position: absolute;
width: 200px;
height: 0px;
/* //left: 383px; */
top: 476px;

border: 8px solid #8ADEB6;

}
.section3 .lineoff{
  position: absolute;
width: 200px;
height: 0px;
/* //left: 621px; */
top: 476px;

border: 8px dashed #8ADEB6;

}