
.section0 .logo{
     /* 로고 */
     position: absolute;
     width: 120px;
     height: 42px;
     left: 50px;
     top: 19px;
 
     font-family: 'KoreanTIMSR';
     font-style: normal;
     font-weight: 400;
     font-size: 36px;
     line-height: 42px;
     text-decoration-line: none;
     color: black;
}
.section1{
    width:100%;
    text-align: center;
}

.section1 .pay_title {
    /* 로고 */
    position: absolute;
    /* //width: 426px; */
    height: 54px;
    left: 550px;
    top: 185px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;

    color: #000000;
  }

.payment{
    width: 100%;
    position: absolute;
    left:60px;
}
.payment .cardnum_txt{
  position: absolute;
/* //width: 89px; */
height: 33px;
left: 372px;
/* //top: 309px; */

font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #878787;
}
.payment .cardnum{
  position: absolute;
  width: 130px;
  height: 60px;
  /* //left: 501px; */
  top: 295px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  background: #FFFFFF;
}

.profile .pwd{
    /* pwd 입력 */
    position: absolute;
width: 600px;
height: 80px;
left: 490px;
top: 472px;

background: #E8E8E8;
border-radius: 20px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 450;
font-size: 26px;
line-height: 8px;

}

input::placeholder {
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 450;
font-size: 26px;
line-height: 8px;
left:20px;
color: #878787;
    opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
}

.btn-pay {
    /* 로그인 버튼 */
    position: absolute;
width: 600px;
height: 80px;
left: 480px;
top: 780px;

background: #8ADEB6;
border-radius: 20px;

color: white;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 35px;
}

.section2 {
    width: 100%;
}