<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../static/css/mypage.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">



</head>
<body style = "background: #F5F5F5">
  <div class="section1">
     <a href="main_mypage" class="logo">와르르</a>
 </div>

    <ul>
      <div class = "b1">
        <div class = "mywarr">MY와르르</div>
      </div>

      <div>
        <div class = "b2" style = "left: 312px">
          <div class = "myblock_name" style = "padding: 33px 0px 0px 86px">수거이용중</div>
          <div class = "myblock_num" style = "padding: 81px 0px 0px 120px">1</div>
          <div class = "myblock_tail" style = "padding: 135px 0px 0px 150px">개</div>
        </div>
      </div>
      <div>
          <div class = "b2" style = "left: 594px">
            <div class = "myblock_name" style = "padding: 33px 0px 0px 97px">할인쿠폰</div>
            <div class = "myblock_num" style = "padding: 81px 0px 0px 120px">0</div>
            <div class = "myblock_tail" style = "padding: 135px 0px 0px 150px">개</div>
          </div>
      </div>
      <div>
          <div class = "b2" style = "left: 876px">
            <div class = "myblock_name" style="padding: 33px 0px 0px 61px">이번달 이용횟수</div>
            <div class = "myblock_num" style = "padding: 81px 0px 0px 120px">3</div>
            <div class = "myblock_tail" style = "padding: 135px 0px 0px 150px">회</div>
          </div>
      </div>

      <div>
          <div class = "b2" style = "left: 1158px">
            <div class = "myblock_name" style="padding: 33px 0px 0px 75px">와르르 point</div>
            <div class = "myblock_num" style = "padding: 81px 0px 0px 54px">250</div>
            <div class = "myblock_tail" style = "padding: 135px 0px 0px 167px">point</div>
          </div>
      </div>

    </ul>
    <ul>
      <div class = "usedlist">이용목록</div>
      <div>
        <div class = "b3" style = "top: 446px; left: 129px">
          <div class = "list_date" style="padding: 20px 0px 0px 29px">2022.09.25 수거</div>
        </div>
        <div class = "b3" style = "top: 446px; left: 427px">
          <div class = "list_date" style="padding: 20px 0px 0px 61px">일반 3L, 2개</div>
        </div>
        <div class = "b3" style = "top: 446px; left: 725px">
          <div class = "list_date" style="padding: 20px 0px 0px 89px">6000 원</div>
        </div>
        <div class = "b3" style = "top: 446px; left: 1023px">
          <div class = "list_date" style="padding: 20px 0px 0px 85px; font-weight: bold;">수거대기</div>
        </div>

        <div class = "b3" style = "top: 559px; left: 129px">
          <div class = "list_date" style="padding: 20px 0px 0px 29px">2022.09.10 수거</div>
        </div>
        <div class = "b3" style = "top: 559px; left: 427px">
          <div class = "list_date" style="padding: 20px 0px 0px 46px">음식물 3L, 1개 </div>
        </div>
        <div class = "b3" style = "top: 559px; left: 725px">
          <div class = "list_date" style="padding: 20px 0px 0px 89px">5000 원</div>
        </div>
        <div class = "b3" style = "top: 559px; left: 1023px">
          <div class = "list_status" style="padding: 20px 0px 0px 85px">수거완료</div>
        </div>

        <div class = "b3" style = "top: 672px; left: 129px">
          <div class = "list_date" style="padding: 20px 0px 0px 29px">2022.09.02 수거</div>
        </div>
        <div class = "b3" style = "top: 672px; left: 427px">
          <div class = "list_date" style="padding: 20px 0px 0px 61px">일반 3L, 1개 </div>
        </div>
        <div class = "b3" style = "top: 672px; left: 725px">
          <div class = "list_date" style="padding: 20px 0px 0px 89px">3000 원</div>
        </div>
        <div class = "b3" style = "top: 672px; left: 1023px">
          <div class = "list_status" style="padding: 20px 0px 0px 85px">수거완료</div>
        </div>

        <div class = "b3" style = "top: 785px; left: 129px">
          <div class = "list_date" style="padding: 20px 0px 0px 29px">2022.08.25 수거</div>
        </div>
        <div class = "b3" style = "top: 785px; left: 427px">
          <div class = "list_date" style="padding: 20px 0px 0px 61px">일반 3L, 1개 </div>
        </div>
        <div class = "b3" style = "top: 785px; left: 725px">
          <div class = "list_date" style="padding: 20px 0px 0px 89px">3000 원</div>
        </div>
        <div class = "b3" style = "top: 785px; left: 1023px">
          <div class = "list_status" style="padding: 20px 0px 0px 85px">수거완료</div>
        </div>

      </div>
    </ul>
    <p class = "more">더보기</p>

</body>
</html>